extends includes/layout.pug

block content
  .about
    h1 About Pizza
    p.
      Bacon ipsum dolor amet drumstick bresaola picanha tri-tip ground round tail. Boudin tongue beef bresaola ham sausage ribeye. Bresaola tongue filet mignon, kielbasa meatloaf flank swine chicken prosciutto beef ribs chuck cupim tri-tip landjaeger. Tenderloin beef ribs pig cow venison.

    p.
      Kevin shank sirloin, hamburger jerky drumstick flank picanha pork chop. Pork loin pancetta t-bone tri-tip chicken short ribs rump meatloaf turducken tongue. Tongue tri-tip filet mignon shoulder ham hock pork belly pig frankfurter salami pork sirloin shank. Hamburger tail capicola chuck, short ribs strip steak ham hock leberkas beef cupim chicken tri-tip alcatra beef ribs. Frankfurter pork loin porchetta andouille venison cupim drumstick prosciutto pancetta fatback swine doner. Leberkas turducken chuck corned beef strip steak shankle.
